.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(161, 161, 165);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
header {
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  background-color: grey;
  border-radius: 17px;
  padding: 5%;
  list-style: none;
  padding-right: 26px;
  gap: 9px;
  margin-right: 15px;
  align-items: center;
}
.problematico {
  white-space: nowrap;
}

.section-2 img {
  width: 500px;
}
.fa-brands {
  margin: 20px;
}
.imagen {
  display: flex;
  justify-content: center;
}
.imagen img {
  display: flex;
  border-radius: 2000px;
  border: solid 20px rgba(85, 84, 84, 0.733);
  width: 40%;
}
.acerca-de {
  margin: 5px;
  display: flex;
  background-color: rgba(128, 128, 128, 0.582);
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}
.tit {
  display: flex;
  align-self: center;
  padding-inline: 4%;
  justify-content: center;
  margin: 5px;
  background-color: black;
  color: whitesmoke;
  width: 18%;
  font-size: 200%;
  border-radius: 25px;
}
.parrafo1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-self: center;
  display: flex;
  background-color: rgba(61, 61, 61, 0.705);
  border-radius: 25px;
  justify-content: center;
  font-size: x-large;
  width: 55%;
  padding: 5px;
}
.parrafo2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  align-self: center;
  display: flex;
  background-color: rgba(61, 61, 61, 0.705);
  border-radius: 25px;
  justify-content: center;
  font-size: x-large;
  width: 70%;
}
.Trabajos h2 {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: grey;
    width: 12%;
    border-radius: 20px;
    margin-left: 5%;
    justify-content: center;
}
.TE{
  display: flex;
  background-color: rgb(136, 132, 132);
  border-radius: 25px;
  padding: 10px;
  gap: 5px;
  justify-content: center;
}
.TE1 {
  background-color: darkgrey;
  border-radius: 15px;
  width: 600px;
}
.TE1 h3{
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(80, 77, 77);
    width: 23%;
    border-radius: 20px;
    margin-left: 5%;
    justify-content: center;
}
.TE1 p{
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(80, 77, 77);
    width: 350px;
    border-radius: 20px;
    margin-left: 2.5%;
    justify-content: flex-start;
    padding: 2.5%;
}
.TE1 div{
  display: flex;
  gap: 15px;
  padding-bottom: 2.5%;
}
.TE1 div img {
  width: 150px;
}

footer {
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 5px;
}
footer h3 {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 5px;
  background-color: black;
  color: whitesmoke;
  width: 25%;
  font-size: xx-large;
  border-radius: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer ul {
  display: flex;
  list-style: none;
  align-self: center;
  flex-direction: row;
  font-size: x-large;
}
footer ul li {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  border-radius: 25px;
  padding-right: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer ul {
  gap: 3px;
}
@media (max-width: 768px) {
  nav ul {
    display: flex;
    background-color: grey;
    border-radius: 17px;
    padding: 5%;
    list-style: none;
    padding-right: 0px;
    gap: 6px;
    margin-right: 2%;
    align-items: center;
    flex-wrap: wrap;
  }
  .tit {
    display: flex;
    align-self: center;
    padding-inline: 4%;
    justify-content: center;
    margin: 5px;
    background-color: black;
    color: whitesmoke;
    width: 37%;
    font-size: 200%;
    border-radius: 25px;
  }
  .parrafo1 {
    align-self: center;
    display: flex;
    background-color: rgba(61, 61, 61, 0.705);
    border-radius: 25px;
    justify-content: center;
    font-size: x-large;
    width: 75%;
    padding: 5px;
  }
  .parrafo2 {
    padding: 5px;
    align-self: center;
    display: flex;
    background-color: rgba(61, 61, 61, 0.705);
    border-radius: 25px;
    justify-content: center;
    font-size: x-large;
    width: 90%;
  }
  .Trabajos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Trabajos h2 {
    display: flex;
      background-color: grey;
      width: 28%;
      border-radius: 20px;
      margin-left: 0%;
      justify-content: center;
  }
  .TE{
    display: flex;
    background-color: rgb(136, 132, 132);
    border-radius: 25px;
    padding: 10px;
    gap: 5px;
    width: 99%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .TE1 {
    background-color: darkgrey;
    border-radius: 15px;
    width: 99%;
    align-items: center;
    justify-content: center;
  }
  .TE1 h3{
    display: flex;
      background-color: rgb(80, 77, 77);
      width: 33%;
      border-radius: 20px;
      margin-left: 5%;
      justify-content: center;
  }
  .TE1 p{
    display: flex;
      background-color: rgb(80, 77, 77);
      width: 97%;
      border-radius: 20px;
      height: fit-content;
     align-content: flex-start;
     padding: 2.5%;
     margin: 3px;
  }
  .TE1 div{
    display: flex;
    padding-bottom: 4.5%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;

  }
  .TE1 div img {
    width: 150px;
    margin-top: 3%;
  }
  footer {
    border-radius: 25px;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 5px;
    align-items: center;
  }
  .titulo-foot {
    padding: 2%;
    align-self: center;
    justify-self: center;
  }
  footer h3 {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 5px;
    background-color: black;
    color: whitesmoke;
    padding-left: 0%;
    width: 72%;
    padding-left: 13%;
    font-size: xx-large;
    border-radius: 25px;
  }
  footer ul {
    display: flex;
    list-style: none;
    align-self: center;
    flex-direction: column;
    font-size: x-large;
    gap: 3px;
    padding-left: 0%;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer ul li {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 25px;
    padding: 5px;
    padding-right: 17px;
  }
}